# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/

# ============================================================
# Django
# ============================================================

*.log
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*
!.env.example

# ============================================================
# Python tools
# ============================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ============================================================
# macOS
# ============================================================

.DS_Store

# ============================================================
# VS Code / IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# Node / Next.js
# ============================================================

frontend/node_modules/
frontend/.next/
frontend/out/

frontend/.env
frontend/.env.local
frontend/.env.*.local

# ============================================================
# Build files
# ============================================================

*.egg-info/
dist/
build/
# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
